# Visual Studio 프로젝트 및 솔루션 파일
*.vcxproj
*.vcxproj.filters
*.sln

# 빌드 출력 파일
*.obj
*.pdb
*.exe
*.dll
*.lib
*.ilk
*.aps
*.pch
*.suo
*.ncb
*.user
*.aps
*.apsx
*.vcxproj.user

# 기타 개발 환경 파일
*.sdf
*.opensdf
*.sln.docstates
*.suo
*.sln.cache
*.ipch/
*.VC.db
 
GameJamPro/.vs/GameJamPro/FileContentIndex/ec6e2354-3b27-428b-bf5a-73b6a7fd3c42.vsidx
GameJamPro/.vs/GameJamPro/FileContentIndex/read.lock
GameJamPro/.vs/GameJamPro/v17/.suo
GameJamPro/.vs/GameJamPro/v17/Browse.VC.db
GameJamPro/.vs/GameJamPro/v17/Browse.VC.db-shm
GameJamPro/.vs/GameJamPro/v17/Browse.VC.db-wal
GameJamPro/.vs/GameJamPro/v17/Browse.VC.opendb
*.vsidx
