
GameJamPro/.vs/GameJamPro/FileContentIndex/ec6e2354-3b27-428b-bf5a-73b6a7fd3c42.vsidx
GameJamPro/.vs/GameJamPro/FileContentIndex/read.lock
GameJamPro/.vs/GameJamPro/v17/.suo
GameJamPro/.vs/GameJamPro/v17/Browse.VC.db
GameJamPro/.vs/GameJamPro/v17/Browse.VC.db-shm
GameJamPro/.vs/GameJamPro/v17/Browse.VC.db-wal
GameJamPro/.vs/GameJamPro/v17/Browse.VC.opendb
